body {
    background-color: rgb(112, 187, 248);
    border: 10px solid rgb(6, 6, 175);
    /*box-shadow: -5px 5px 5px 5px rgb(3, 3, 138);*/
}

.main {
		border: 3px solid #ffc900;
}

.title {
	margin: 50px 0px 40px 95px;
	color: #fff;
  font-size: 40px; 
}

.section {    
}

.table {
	margin: auto;
	text-align: center;
	max-width: 960px;	   
	margin-bottom: 40px;
}

.items {
	  max-width: 960px;	 
	  font-size: 0%;
		border: 3px solid #fff);
}

.item {
    font-size: 30px;
    border: 3px solid #fff;
		display: inline-block;
		color: #fff;
		padding-top: 25px;
}

.Lisbon {
	height: 90px;
	width: 49%;
	background-color:#6b90d4;
}

.Paris {
	height: 90px;
	width: 24%;
	background-color:#34d1d2;
}

.Belgrade {
	height: 90px;
	width: 24%;
	background-color:#bd6dd7;
}

.Moscow{
	height: 90px;
	width: 24%;
	background-color: rgb(192, 68, 85);
}

.TelAviv {
	height: 90px;
	width: 24%;
	background-color: #ff7640;
}

.Cair {
	height: 90px;
	width: 24%;
	background-color: #ffc900;
}

.NewYork {
	height: 90px;
	width: 24%;
	background-color:#60d6a7
	;
}

.NewDelhi  {
	height: 90px;
	width: 33%;
	background-color:#5fbdce;
}
.SanFrancisco {
	height: 90px;
	width: 32.12%;
	background-color:#c561d3;
}

.Tokyo {
	height: 90px;
	width: 33%;
	background-color:#00a779;
}

.Sydney {
	height: 90px;
	width: 100%;
	background-color: #7375d8;
}

.text {
  position: relative;
  color: #fff;
	margin-left: 95px;
  font-size: 25px;
}	


