body {
    background-color: rgb(112, 187, 248);
    border: 10px solid rgb(6, 6, 175);
    /*box-shadow: -5px 5px 5px 5px rgb(3, 3, 138);*/
}

.main {
		border: 3px solid #ffc900;
}

.title {
	margin: 50px 0px 40px 95px;
	color: #fff;
  font-size: 40px; 
}


.table {
	margin: auto;
	text-align: center;
	max-width: 960px;	   
	margin-bottom: 40px;
}

.table:hover{
	opacity: 0.4;
}

.items {
	  max-width: 960px;	 
	  font-size: 0%;
		border: 3px solid #fff;
}

.item {
    font-size: 30px;
    border: 3px solid #fff;
		display: inline-block;
		color: #fff;
		padding-top: 25px;
}

.Lisbon {
	height: 90px;
	width: 49%;
	background-color:#6b90d4;
}

.Lisbon:not(:hover){
	opacity: 10;
}

.Paris {
	height: 90px;
	width: 24.1%;
	background-color:#34d1d2;
}

.Belgrade {
	height: 90px;
	width: 25%;
	background-color:#bd6dd7;
}

.Moscow{
	height: 90px;
	width: 24.4%;
	background-color: rgb(192, 68, 85);
}

.TelAviv {
	height: 90px;
	width: 24.4%;
	background-color: #ff7640;
}

.Cair {
	height: 90px;
	width: 24.3%;
	background-color: #ffc900;
}

.Cair:hover{
	opacity: 1;
}

.NewYork {
	height: 90px;
	width: 24.35%;
	background-color:#60d6a7
	;
}

.NewDelhi  {
	height: 90px;
	width: 33%;
	background-color:#5fbdce;
}
.SanFrancisco {
	height: 90px;
	width: 32.11%;
	background-color:#c561d3;
}

.Tokyo {
	height: 90px;
	width: 33%;
	background-color:#00a779;
}

.Sydney {
	height: 90px;
	width: 99.5%;
	background-color: #7375d8;
}

.text {
  position: relative;
  color: #fff;
	margin-left: 95px;
  font-size: 25px;
}	


